<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Medical Calculator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container" id="medcalc">
  <h1>{{ heading }}</h1>
  <h2>Recommended Treatment</h2>

  <form>
      <div class="row">
        <div class="col">
          <label for="height">Height:</label>
        </div>
        <div class="col">
          <input v-model="height" type="text" name="height" placeholder="Height in inches">
          <span v-if="height"><em>{{ height }} inches</em></span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="weight">Weight:</label>
        </div>
        <div class="col">
          <input v-model="weight" type="text" name="weight" placeholder="Weight in pounds">
          <span v-if="weight"><em>{{ weight }} pounds</em></span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="age">Age:</label>
        </div>
        <div class="col">
          <input v-model="age" type="text" name="age" placeholder="e.g. 40">
          <span v-if="age"><em>{{ age }} years old</em></span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="gender">Gender <span v-if="gender"><em>({{ gender }})</em></span></label>
        </div>
        <div class="col">
          <input style="margin-left: 0;" v-model="gender" type="radio" name="gender" value="male"> Male
          <input style="margin-left: 1rem;" v-model="gender" type="radio" name="gender" value="female"> Female
          <span v-if="gender" style="margin-left: 2rem;"><em>{{ gender }}</em></span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="activity">Describe Your Activity Level</label>
        </div>
        <div class="col">
          <input v-model="activity" type="radio" name="activity" value="0"> Sedentary (Little to no exercise)<br>
          <input v-model="activity" type="radio" name="activity" value="1"> Light exercise (1–3 days per week)<br>
          <input v-model="activity" type="radio" name="activity" value="2"> Moderate exercise (3–5 days per week)<br>
          <input v-model="activity" type="radio" name="activity" value="3"> Heavy exercise (6–7 days per week)<br>
          <input v-model="activity" type="radio" name="activity" value="4"> Very heavy exercise (twice per day, extra heavy workouts)

        </div>

      </div>

      <div class="row">
        <div class="col" id="bmrResult"></div>
      </div>

      <div class="row">
        <div class="col" id="bmiResult"></div>
      </div>

      <div class="row">
        <div class="col" id="suggestedActivity"></div>
      </div>

    <button type="button" @click="calculatedTotals" class="btn btn-lg btn-success">Calculate</button>

    <h2>History</h2>
    <ul>
      <li><input v-model="diabetesPrevention" class="form-check-input" type="checkbox" value="diabetesPrevention"> Diabetes Prevention</li>
      <li><input v-model="type2" class="form-check-input" type="checkbox" value="type2"> Type 2 Diabetes Mellitus</li>
      <li><input v-model="hypertension" class="form-check-input" type="checkbox" value="hypertension"> Hypertension</li>
      <li><input v-model="cvd" class="form-check-input" type="checkbox" value="cvd"> Cardiovascular Disease</li>
      <li><input v-model="ckd" class="form-check-input" type="checkbox" value="ckd"> Chronic Kidney Disease</li>
      <li><input v-model="nephrolithiasis" class="form-check-input" type="checkbox" value="nephrolithiasis"> Nephrolithiasis</li>
      <li><input v-model="hepatic" class="form-check-input" type="checkbox" value="hepatic"> Hepatic Impairment</li>
      <li><input v-model="depression" class="form-check-input" type="checkbox" value="depression"> Depression</li>
      <li><input v-model="anxiety" class="form-check-input" type="checkbox" value="anxiety"> Anxiety</li>
      <li><input v-model="psychoses" class="form-check-input" type="checkbox" value="psychoses"> Psychoses</li>
      <li><input v-model="bingeEating" class="form-check-input" type="checkbox" value="bingeEating"> Binge Eating Disorder</li>
      <li><input v-model="glaucoma" class="form-check-input" type="checkbox" value="glaucoma"> Glaucoma</li>
      <li><input v-model="seizureDisorder" class="form-check-input" type="checkbox" value="seizureDisorder"> Seizure Disorder</li>
      <li><input v-model="pancreatitis" class="form-check-input" type="checkbox" value="pancreatitis"> Pancreatitis</li>
      <li><input v-model="opioids" class="form-check-input" type="checkbox" value="opioids"> Opioids</li>
      <li><input v-model="women" class="form-check-input" type="checkbox" value="women"> Women of Reproductive Potential</li>
      <li><input v-model="age65" class="form-check-input" type="checkbox" value="age65"> Age > 65 years</li>
      <li><input v-model="alcohol" class="form-check-input" type="checkbox" value="alcohol"> Alcoholism/ Addiction</li>
      <li><input v-model="postBary" class="form-check-input" type="checkbox" value="postBary"> Post-Bariatric Surgery</li>
    </ul>

    <table class="medchart">
      <tr class="heading">
        <th colspan="7">Preferred Weight-Loss Medications: Individualization of Therapy</th>
      </tr>
      <tr class="subheading">
        <td class=""></td>
        <td class="subheading"></td>
        <td class="subheading"></td>
        <td class="subheading">Key:</td>
        <td class="subheading"><span class="box preferred">&nbsp;</span> Preferred Drug</td>
        <td class="subheading"><span class="box caution">&nbsp;</span> Use With Caution</td>
        <td class="subheading"><span class="box avoid">&nbsp;</span> Avoid</td>
      </tr>

      <tr>
        <td class=""></td>
        <td class=""></td>
        <td class="headerEven">Orlistat</td>
        <td class="headerOdd">Lorcaserin</td>
        <td class="headerEven">Phentermine/topiramate ER</td>
        <td class="headerOdd">Naltrexone ER/ bupropion ER</td>
        <td class="headerEven">Liraglutide 3 mg</td>
      </tr>

      <!-- Diabetes Prevention -->
      <tr v-if="diabetesPrevention">
        <td class="">Diabetes Prevention (metabolic syndrome, prediabetes)</td>
        <td class="">&nbsp;</td>
        <td class="preferred">&nbsp;</td>
        <td class="caution">Insufficient data for T2DM prevention</td>
        <td class="preferred">&nbsp;</td>
        <td class="caution">Insufficient data for T2DM prevention</td>
        <td class="preferred"></td>
      </tr>

      <!-- Type II Diabetes -->
      <tr v-if="type2">
        <td class="">Type 2 Diabetes Mellitus</td>
        <td class=""></td>
        <td class="preferred"></td>
        <td class="preferred"></td>
        <td class="preferred"></td>
        <td class="preferred"></td>
        <td class="preferred"></td>
      </tr>

      <!-- Hypertension -->
      <tr v-if="hypertension">
        <td class="">Hypertension</td>
        <td class=""></td>
        <td class="preferred"></td>
        <td class="preferred"></td>
        <td class="preferred">Monitor heart rate</td>
        <td class="preferred">
          <table>
            <tr>
              <td class="caution">Monitor BP and heart rate</td>
            </tr>
            <tr>
              <td class="avoid">Contraindicated in uncontrolled HTN</td>
            </tr>
          </table>
        </td>
        <td class="preferred">Monitor heart rate</td>
      </tr>

      <!-- Cardiovascular Disease -->
      <tr v-if="cvd">
        <td class="">
          <table>
            <tr>
              <td>Cardiovascular Disease</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
        </td>
        <td class="">
          <table>
            <tr>
              <td>CAD</td>
            </tr>
            <tr>
              <td>Arrhythmia</td>
            </tr>
            <tr>
              <td>CHF</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="preferred">&nbsp;</td>
            </tr>
            <tr>
              <td class="preferred">&nbsp;</td>
            </tr>
            <tr>
              <td class="avoid">Insufficient data</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="preferred">&nbsp;</td>
            </tr>
            <tr>
              <td class="preferred">Monitor for bradycardia</td>
            </tr>
            <tr>
              <td class="avoid">Insufficient data</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Monitor heart rate</td>
            </tr>
            <tr>
              <td class="caution">Monitor heart rate, rhythm</td>
            </tr>
            <tr>
              <td class="avoid">Insufficient data</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Monitor heart rate, BP</td>
            </tr>
            <tr>
              <td class="caution">Monitor HR, rhythm, BP</td>
            </tr>
            <tr>
              <td class="avoid">Insufficient data</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Monitor heart rate</td>
            </tr>
            <tr>
              <td class="caution">Monitor HR, rhythm</td>
            </tr>
            <tr>
              <td class="avoid">Insufficient data</td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Chronic Kidney Disease -->
      <tr v-if="ckd">
        <td class="">
          <table>
            <tr>
              <td>Chronic Kidney Disease<br><br><br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="">
          <table>
            <tr>
              <td>Mild<br>
                (50–79 mL/min)</td>
            </tr>
            <tr>
              <td>Moderate<br>(30–49 mL/min)</td>
            </tr>
            <tr>
              <td>Severe<br>
                (<30 mL/min)</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="preferred">&nbsp;<br><br></td>
            </tr>
            <tr>
              <td class="preferred">&nbsp;<br><br></td>
            </tr>
            <tr>
              <td class="caution">Watch for oxalate nephropathy</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="preferred">&nbsp;<br><br></td>
            </tr>
            <tr>
              <td class="preferred">&nbsp;<br><br></td>
            </tr>
            <tr>
              <td class="avoid">Urinary clearance of drug metabolites</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="preferred">&nbsp;<br><br></td>
            </tr>
            <tr>
              <td class="preferred">Do not exceed
                7.5 mg/46 mg per day</td>
            </tr>
            <tr>
              <td class="avoid">Urinary clearance of drug<br><br></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="preferred">&nbsp;<br><br></td>
            </tr>
            <tr>
              <td class="preferred">Do not exceed
                8 mg/90 mg bid</td>
            </tr>
            <tr>
              <td class="avoid">Urinary clearance of drug<br><br></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="preferred">&nbsp;<br><br></td>
            </tr>
            <tr>
              <td class="preferred">&nbsp;<br><br></td>
            </tr>
            <tr>
              <td class="caution">Avoid vomiting and volume depletion</td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Nephrolithiasis -->
      <tr v-if="nephrolithiasis">
        <td class="">Nephrolithiasis</td>
        <td class=""></td>
        <td class="avoid">Calcium oxalate stones</td>
        <td class="preferred"></td>
        <td class="avoid">Calcium oxalate stones</td>
        <td class="preferred"></td>
        <td class="preferred"></td>
      </tr>

      <!-- Hepatic Impairment -->
      <tr v-if="hepatic">
        <td class="">
          <table>
            <tr>
              <td>Hepatic Impairment<br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="">
          <table>
            <tr>
              <td>Mild-Moderate<br>(Child-Pugh 5–9)</td>
            </tr>
            <tr>
              <td>Severe<br>(Child-Pugh >9)</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Watch for cholelithiasis<br><br></td>
            </tr>
            <tr>
              <td class="avoid">Not recommended<br><br></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Hepatic metabolism of drug<br><br></td>
            </tr>
            <tr>
              <td class="avoid">Not recommended<br><br></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Do not exceed
                7.5 mg/46 mg per day</td>
            </tr>
            <tr>
              <td class="avoid">Not recommended<br><br></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Do not exceed
                8 mg/90 mg in AM</td>
            </tr>
            <tr>
              <td class="avoid">Not recommended<br><br></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Watch for cholelithiasis<br><br></td>
            </tr>
            <tr>
              <td class="avoid">Not recommended<br><br></td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Depression -->
      <tr v-if="depression">
        <td class="">
          <table>
            <tr>
              <td>Depression<br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="">
          <table>
            <tr>
              <td><br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="preferred">
          <table>
            <tr>
              <td><br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Insufficient safety data<br><br></td>
            </tr>
            <tr>
              <td class="avoid">Avoid combinations of serotonergic drugs</td>
            </tr>
          </table>
        </td>
        <td class="preferred">
          <table>
            <tr>
              <td>Avoid maximum dose: 15 mg/92 mg per day<br><br></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Insufficient safety data<br><br></td>
            </tr>
            <tr>
              <td class="avoid">Avoid in adolescents and young adults</td>
            </tr>
          </table>
        </td>
        <td class="preferred">
          <table>
            <tr>
              <td><br><br><br><br></td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Anxiety -->
      <tr v-if="anxiety">
        <td class="">Anxiety</td>
        <td class=""></td>
        <td class="preferred"></td>
        <td class="preferred"></td>
        <td class="preferred">Avoid max dose:
          15 mg/92 mg per day</td>
        <td class="preferred"></td>
        <td class="preferred"></td>
      </tr>

      <!-- Psychoses -->
      <tr v-if="psychoses">
        <td class="">Psychoses</td>
        <td class=""></td>
        <td class="caution">Insufficient data</td>
        <td class="avoid">Insufficient data</td>
        <td class="avoid">Insufficient data</td>
        <td class="avoid">Insufficient data</td>
        <td class="caution">Insufficient data</td>
      </tr>

      <!-- Binge Eating Disorder -->
      <tr v-if="bingeEating">
        <td class="">
          <table>
            <tr>
              <td>Binge Eating Disorder<br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="">
          <table>
            <tr>
              <td><br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="preferred">
          <table>
            <tr>
              <td><br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="caution">
          <table>
            <tr>
              <td>Insufficient data; however, possible benefit based on reduction in food cravings</td>
            </tr>
          </table>
        </td>
        <td class="caution">
          <table>
            <tr>
              <td>Insufficient data; however, possible benefit based on studies with topiramate</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="caution">Insufficient data, though possible benefit based on studies with bupropion<br></td>
            </tr>
            <tr>
              <td class="avoid">Avoid in patients with purging or bulimia nervosa<br><br></td>
            </tr>
          </table>
        </td>
        <td class="caution">
          <table>
            <tr>
              <td>Insufficient data<br><br><br><br><br><br></td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Glaucoma -->
      <tr v-if="glaucoma">
        <td class="">Glaucoma</td>
        <td class=""></td>
        <td class="preferred"></td>
        <td class="preferred"></td>
        <td class="avoid">Contraindicated, may trigger angle closure</td>
        <td class="avoid">May trigger angle closure</td>
        <td class="preferred"></td>
      </tr>

      <!-- Seizure Disorder -->
      <tr v-if="seizureDisorder">
        <td class="">Seizure Disorder</td>
        <td class=""></td>
        <td class="preferred"></td>
        <td class="preferred"></td>
        <td class="preferred">If discontinuing from max dose, taper slowly</td>
        <td class="avoid">Bupropion lowers seizure threshold</td>
        <td class="preferred"></td>
      </tr>

      <!-- Pancreatitis -->
      <tr v-if="pancreatitis">
        <td class="">
          <table>
            <tr>
              <td>Pancreatitis<br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="">
          <table>
            <tr>
              <td><br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="preferred">
          <table>
            <tr>
              <td>Monitor for symptoms</td>
            </tr>
          </table>
        </td>
        <td class="preferred">
          <table>
            <tr>
              <td><br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="preferred">
          <table>
            <tr>
              <td><br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td class="preferred">
          <table>
            <tr>
              <td><br><br><br><br></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td class="preferred">Monitor for symptoms<br><br></td>
            </tr>
            <tr>
              <td class="avoid">
                Avoid if prior or current disease
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Opioid Use -->
      <tr v-if="opioids">
        <td>Opioid Use</td>
        <td></td>
        <td class="preferred"></td>
        <td class="preferred"></td>
        <td class="preferred"></td>
        <td class="avoid">Will antagonize opioids and opiates</td>
        <td class="preferred"></td>
      </tr>

      <!-- Women of Reproductive Potential -->
      <tr v-if="women">
        <td class="">Women of Reproductive Potential<br><br><br><br><br><br></td>
        <td class="">
          <table>
            <tr>
              <td>Pregnancy<br><br><br><br><br><br><br><br><br><br><br><br></td>
            </tr>
            <tr>
              <td>Breast-feeding</td>
            </tr>
          </table>
        </td>
        <td class="">
          <table>
            <tr>
              <td class="preferred">Use contraception and discontinue orlistat should pregnancy occur<br><br><br><br><br><br><br><br><br><br></td>
            </tr>
            <tr>
              <td class="avoid">Not recommended</td>
            </tr>
          </table>
        </td>
        <td class="">
          <table>
            <tr>
              <td class="preferred">Use contraception and discontinue lorcaserin should pregnancy occur<br><br><br><br><br><br><br><br><br><br></td>
            </tr>
            <tr>
              <td class="avoid">Not recommended</td>
            </tr>
          </table>
        </td>
        <td class="preferred">
          <table>
            <tr>
              <td class="preferred">Use contraception and discontinue phentermine/topiramate should pregnancy occur (perform monthly pregnancy checks to identify early pregnancy)<br><br><br><br><br><br></td>
            </tr>
            <tr>
              <td class="avoid">Not recommended</td>
            </tr>
          </table>
        </td>
        <td class="">
          <table>
            <tr>
              <td class="preferred">Use contraception and discontinue naltrexone ER/bupropion ER should pregnancy occur<br><br><br><br><br><br><br><br><br></td>
            </tr>
            <tr>
              <td class="avoid">Not recommended</td>
            </tr>
          </table>
        </td>
        <td class="">
          <table>
            <tr>
              <td class="preferred">Use contraception and discontinue liraglutide 3 mg should pregnancy occur<br><br><br><br><br><br><br><br><br><br></td>
            </tr>
            <tr>
              <td class="avoid">Not recommended</td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Age ≥65 years * -->
      <tr v-if="age65">
        <td class="">Age ≥65 years *</td>
        <td class=""></td>
        <td class="preferred">Limited data available</td>
        <td class="caution">Insufficient data</td>
        <td class="preferred">Limited data available</td>
        <td class="caution">Insufficient data</td>
        <td class="preferred">Limited data available</td>
      </tr>

      <!-- Alcoholism/ Addiction -->
      <tr v-if="alcohol">
        <td class="">Alcoholism/<br>Addiction</td>
        <td class=""></td>
        <td class="preferred">&nbsp;</td>
        <td class="caution">Might have abuse potential due to euphoria at high doses</td>
        <td class="caution">Insufficient data, though topiramate might exert therapeutic benefits</td>
        <td class="avoid">Avoid due to seizure risk and lower seizure threshold on bupropion data</td>
        <td class="preferred">&nbsp;</td>
      </tr>

      <!-- Post-Bariatric Surgery -->
      <tr v-if="postBary">
        <td class="">Post-Bariatric Surgery</td>
        <td class=""></td>
        <td class="caution">Insufficient data</td>
        <td class="caution">Insufficient data</td>
        <td class="preferred">Limited Data Available</td>
        <td class="caution">Insufficient data</td>
        <td class="preferred">Data available at 1.8 – 3.0 mg/day</td>
      </tr>
    </table>
  </form>

</div>

  <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>

  <script src="main.js"></script>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
