<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Medical Calculator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container" id="medcalc">
  <h1>{{ heading }}</h1>
  <h2>Recommended Treatment</h2>

  <form>
      <div class="row">
        <div class="col">
          <label for="height">Height:</label>
        </div>
        <div class="col">
          <input v-model="height" type="text" name="height" placeholder="Height in inches">
          <span v-if="height"><em>{{ height }} inches</em></span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="weight">Weight:</label>
        </div>
        <div class="col">
          <input v-model="weight" type="text" name="weight" placeholder="Weight in pounds">
          <span v-if="weight"><em>{{ weight }} pounds</em></span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="age">Age:</label>
        </div>
        <div class="col">
          <input v-model="age" type="text" name="age" placeholder="e.g. 40">
          <span v-if="age"><em>{{ age }} years old</em></span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="gender">Gender <span v-if="gender"><em>({{ gender }})</em></span></label>
        </div>
        <div class="col">
          <input style="margin-left: 0;" v-model="gender" type="radio" name="gender" value="male"> Male
          <input style="margin-left: 1rem;" v-model="gender" type="radio" name="gender" value="female"> Female
          <span v-if="gender" style="margin-left: 2rem;"><em>{{ gender }}</em></span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="activity">Describe Your Activity Level</label>
        </div>
        <div class="col">
          <input v-model="activity" type="radio" name="activity" value="0"> Sedentary (Little to no exercise)<br>
          <input v-model="activity" type="radio" name="activity" value="1"> Light exercise (1–3 days per week)<br>
          <input v-model="activity" type="radio" name="activity" value="2"> Moderate exercise (3–5 days per week)<br>
          <input v-model="activity" type="radio" name="activity" value="3"> Heavy exercise (6–7 days per week)<br>
          <input v-model="activity" type="radio" name="activity" value="4"> Very heavy exercise (twice per day, extra heavy workouts)

        </div>

      </div>

      <div class="row">
        <div class="col" id="bmrResult"></div>
      </div>

      <div class="row">
        <div class="col" id="bmiResult"></div>
      </div>

      <div class="row">
        <div class="col" id="suggestedActivity"></div>
      </div>

    <button type="button" @click="calculatedTotals" class="btn btn-lg btn-success">Calculate</button>
  </form>

</div>

  <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>

  <script src="main.js"></script>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
