body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9e4f7+0,0fb4e7+100;Ble+3D+%235 */
    background: #a9e4f7; /* Old browsers */
    background: -moz-linear-gradient(top, #a9e4f7 0%, #0fb4e7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a9e4f7 0%,#0fb4e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
}

#medcalc {
    background-color: #fff;
    box-shadow: 0 0 5px #888;
    padding: 1rem;
}

.required {
    color: red;
    font-weight: bold;
}

.optional {
    color: #ffA500;
    font-weight: bold;
}

.history {
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
}

h3 {
    margin-top: 1rem;
}

table {
    width: 100%;
}

table.medchart {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

tr.heading {
    background: #2C2B2A;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

tr.subheading {
    background: #5A5757;
    color: #fff;
    font-size: .7rem;
    text-transform: uppercase;
    text-align: center;
}

td {
    border: 1px solid gray;
    font-size: .7rem;
    width: 14%;
}

.box {
    font-size: 1rem;
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid white;
    float: left;
    margin-left: .5rem;
}
.preferred {
    background-color: #5B909E;
    color: #fff;
}

.caution {
    background-color: #E4942F;
    color: #fff;
}

.avoid {
    background-color: #D5662C;
    color: #fff;
}

.headerEven {
    background-color: #446D78;
    color: #fff;
}

.headerOdd {
    background-color: #365761;
    color: #fff;
}